<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>YelloPages_Ver_3_ServLis_Css</display-name>
  <context-param>
    <param-name>drivername</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbloc</param-name>
    <param-value>jdbc:mysql://localhost/mpcdb</param-value>
  </context-param>
  <context-param>
    <param-name>dbusername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>profserv</servlet-name>
    <servlet-class>bizlogic.ProfileServlet</servlet-class>
    <init-param>
      <param-name>UserLoginCountry</param-name>
      <param-value>Japan</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>profserv</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logserv</servlet-name>
    <servlet-class>bizlogic.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logserv</servlet-name>
    <url-pattern>/loginreq</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ipauth</filter-name>
    <filter-class>filters.FilterTwo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ipauth</filter-name>
    <url-pattern>/loginreq</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>logauth</filter-name>
    <filter-class>filters.LoginAuthenticator</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logauth</filter-name>
    <url-pattern>/loginreq</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>regserv</servlet-name>
    <servlet-class>bizlogic.RegistrationServlet</servlet-class>
    <init-param>
      <param-name>ActiveUserOnSite</param-name>
      <param-value>500</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>regserv</servlet-name>
    <url-pattern>/regreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessionout</servlet-name>
    <servlet-class>bizlogic.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionout</servlet-name>
    <url-pattern>/logoutserv</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>seead</servlet-name>
  	<servlet-class>bizlogic.ReadXmlAds</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>seead</servlet-name>
  	<url-pattern>/seeads</url-pattern>
  </servlet-mapping>
  
  
  <listener>
    <listener-class>bizlogic.ReqArrivedResSent</listener-class>
  </listener>
  <listener>
    <listener-class>bizlogic.SessionCreaDestroyedLis</listener-class>
  </listener>
</web-app>